@charset "UTF-8";
/*<<<<<<<< GENERAL >>>>>>>>*/
* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

/*<<<<<<<< ------ >>>>>>>>*/
/*<<<<<<<< FONTS >>>>>>>>*/
h1 {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
  font-size: 96px;
}

h2 {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
  font-size: 66px;
}

h3 {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 18px;
}

.photoDesc {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 14px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

/*Font Menu header footer*/
.main-navigation .menu-header-container a,
footer a {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 23.7px;
}

/**/
/*<<<<<<<< ------ >>>>>>>>*/
/*<<<<<<<< HEADER >>>>>>>>*/
.main-navigation {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-navigation .site-branding h1 {
  font-size: 20px;
  font-weight: 500;
}
.main-navigation .site-branding h1 a {
  text-decoration: none;
  color: #e42020;
}
.main-navigation ul {
  display: flex;
  list-style: none;
}
.main-navigation ul li a {
  text-decoration: none;
  color: black;
  margin-left: 50px;
}
.main-navigation ul li a:hover {
  transition: 500ms;
  opacity: 0.5;
}

.menu-toggle {
  display: none; /* Cacher le bouton par défaut */
  cursor: pointer;
  padding: 10px;
  background: transparent;
  border: none;
}
.menu-toggle .bar {
  display: flex;
  flex-direction: column;
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px auto;
  transition: all 0.3s ease;
}
.menu-toggle.open .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.menu-toggle.open .bar:nth-child(2) {
  opacity: 0;
}
.menu-toggle.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.mobile-menu {
  z-index: 1000;
  transition: transform 0.5s ease-in-out;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #e00000;
  transform: translateY(-100%);
  overflow: hidden;
}
.mobile-menu.open {
  display: flex;
  transform: translateY(0);
}
.mobile-menu ul {
  list-style: none;
}
.mobile-menu ul li {
  margin: 50px 0;
  text-align: center;
}
.mobile-menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 44px;
  font-family: "Space Mono", sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
  }
  .menuHeader {
    display: none;
  }
  .main-navigation {
    justify-content: space-around;
  }
  .menu-toggle {
    display: block;
  }
}
/*<<<<<<<< ------ >>>>>>>>*/
/*<<<<<<<< CONTACT >>>>>>>>*/
.contact-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3764705882);
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.contact-overlay .close-contact {
  background: url(../nathalieMota/assets/images/lightbox_close.png) no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s;
}
.contact-overlay .close-contact:hover {
  opacity: 1;
}
.contact-overlay .popup-header {
  width: 100%;
  height: 80px;
  overflow: hidden;
  background-image: url(../nathalieMota/assets/images/Contactheader.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.contact-overlay .popup-contact {
  width: 40%;
  max-width: 680px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: white;
}
.contact-overlay .popup-contact .popup-form p label span input {
  border: 1px solid #B8BBC2;
  border-radius: 8px;
  width: 263px;
  height: 40px;
  padding-left: 10px;
  margin-bottom: 15px;
}
.contact-overlay .popup-contact .popup-form p label span textarea {
  border: 1px solid #B8BBC2;
  border-radius: 8px;
  width: 263px;
  height: 100px;
  padding-left: 10px;
  padding-top: 10px;
}
.contact-overlay .popup-contact .popup-form p input[type=submit] {
  width: 275px;
  height: 50px;
  background-color: #D8D8D8;
  border: none;
  border-radius: 2px;
  color: black;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

/*<<<<<<<< ------ >>>>>>>>*/
/*<<<<<<<< CONTENT SINGLE >>>>>>>>*/
/* Format : Paysage */
.content-container {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 50px;
  border-bottom: 1px solid #000;
}
.content-container .left-side-paysage {
  width: 49%;
}
.content-container .left-side-paysage h2 {
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px #000;
}
.content-container .left-side-paysage p {
  line-height: 40px;
  text-transform: uppercase;
}
.content-container .left-side-paysage p:nth-child(6) {
  margin-bottom: 20px;
}
.content-container .left-side-paysage .ctaphoto-contact {
  border-top: 1px solid #000;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}
.content-container .left-side-paysage .ctaphoto-contact h5 {
  font-family: "poppins", sans-serif;
  font-weight: 300;
  margin-right: 20%;
}
.content-container .left-side-paysage .ctaphoto-contact button {
  background-color: #d8d8d8;
  border: none;
  max-width: 272px;
  max-height: 50px;
  padding: 18px 111px;
  font-family: "Space Mono", sans-serif;
  font-size: 12px;
}
.content-container .left-side-paysage .ctaphoto-contact button:hover {
  background-color: #adadad;
  transition: 0.5s;
}
.content-container .right-side-paysage {
  width: 49%;
  margin-left: 20px;
  overflow: hidden;
}
.content-container .right-side-paysage .post-image-paysage {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.content-container .right-side-paysage .nextPhoto {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 2px;
  margin-bottom: 2px;
}
.content-container .right-side-paysage .nextPhoto .arrows {
  margin-right: 17px;
}
.content-container .right-side-paysage .nextPhoto .arrows a {
  text-decoration: none;
  color: #000;
}
.content-container .right-side-paysage .nextPhoto .arrows a:hover {
  opacity: 0.6;
  transition: 0.5s;
}
.content-container .right-side-paysage .nextPhoto .nextImage {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 7em;
  max-width: 81px;
  max-height: 71px;
  margin-bottom: 2px;
}

@media screen and (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }
  .content-container .left-side-paysage {
    width: 95%;
    margin-left: 20px;
    margin-top: 0;
  }
  .content-container .left-side-paysage h2 {
    margin-top: 20px;
  }
  .content-container .right-side-paysage {
    width: 95%;
    height: 460px;
    max-height: 460px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 425px) {
  .content-container {
    flex-direction: column;
  }
  .content-container .left-side-paysage h2 {
    font-size: 36px;
  }
  .content-container .left-side-paysage .ctaphoto-contact {
    flex-direction: column;
  }
}
/**/
/* Général */
.alsoLike-container {
  margin: 80px 4.5% 50px 4.5%;
}
.alsoLike-container h3 {
  text-transform: uppercase;
}
.alsoLike-container .alsoLike-photos {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.alsoLike-container .alsoLike-photos a {
  width: 40vw;
  height: 500px;
  background: transparent;
  background-position: center;
  background-size: cover;
  margin-right: 10px;
}

/**/
/* Format : Portrait */
.content-container .left-side-portrait {
  width: 49%;
}
.content-container .left-side-portrait h2 {
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px #000;
}
.content-container .left-side-portrait p {
  line-height: 40px;
  text-transform: uppercase;
}
.content-container .left-side-portrait p:nth-child(6) {
  margin-bottom: 20px;
}
.content-container .ctaphoto-contact {
  border-top: 1px solid #000;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}
.content-container .ctaphoto-contact h5 {
  font-family: "poppins", sans-serif;
  font-weight: 300;
  margin-right: 20%;
}
.content-container .ctaphoto-contact button {
  background-color: #d8d8d8;
  border: none;
  max-width: 272px;
  max-height: 50px;
  padding: 18px 111px;
  font-family: "Space Mono", sans-serif;
  font-size: 12px;
}
.content-container .ctaphoto-contact button:hover {
  background-color: #adadad;
  transition: 0.2s;
}
.content-container .right-side-portrait {
  width: 49%;
  margin-left: 20px;
  overflow: hidden;
}
.content-container .right-side-portrait .post-image-portrait {
  width: 100%;
  height: 800px;
  max-height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
.content-container .right-side-portrait .nextPhoto {
  width: 97%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 2px;
  margin-bottom: 2px;
}
.content-container .right-side-portrait .nextPhoto .arrows {
  margin-right: 17px;
}
.content-container .right-side-portrait .nextPhoto .arrows a {
  text-decoration: none;
  color: #000;
}
.content-container .right-side-portrait .nextPhoto .arrows a:hover {
  opacity: 0.6;
  transition: 0.5s;
}
.content-container .right-side-portrait .nextPhoto .nextImage {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 7em;
  max-width: 81px;
  max-height: 71px;
  margin-bottom: 2px;
}

@media screen and (max-width: 768px) {
  .content-container {
    flex-direction: column-reverse;
  }
  .content-container .left-side-portrait {
    width: 95%;
    margin-left: 20px;
    margin-top: 0;
  }
  .content-container .left-side-portrait h2 {
    margin-top: 20px;
  }
  .content-container .right-side-portrait {
    width: 95%;
    height: 660px;
    max-height: 660px;
    margin-top: 20px;
  }
  .content-container .right-side-portrait .post-image-portrait {
    width: 95vw;
  }
}
@media screen and (max-width: 425px) {
  .content-container {
    flex-direction: column-reverse;
  }
  .content-container .left-side-portrait h2 {
    font-size: 36px;
  }
  .content-container .left-side-portrait .ctaphoto-contact {
    flex-direction: column;
  }
}
/**/
/*<<<<<<<< ------ >>>>>>>>*/
/*<<<<<<<< FRONT PAGE >>>>>>>>*/
.heroHeader {
  max-height: 750px;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.heroHeader h1 {
  text-align: center;
  position: relative;
  top: 300px;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 3px #fff;
}

.custom-select {
  position: relative;
  width: 100%;
  min-width: 210px;
  font-family: "poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 15px;
}
.custom-select.open .placeholder::after {
  transform: rotate(-90deg);
}
.custom-select.open ul {
  display: block;
  transform: translateY(0);
  opacity: 1;
}
.custom-select .placeholder {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 99%;
  height: 42px;
  background-color: #fff;
  color: #313144;
  text-transform: uppercase;
  border: 1px solid #b8bbc2;
  border-radius: 8px;
  cursor: pointer;
}
.custom-select .placeholder::after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  background-image: url("./assets/images/chevron.svg");
  background-position: center;
  background-size: cover;
  margin-left: 20px;
  margin-top: 3.5px;
  transform: rotate(90deg);
  transition: all 0.2s linear;
}
.custom-select ul {
  display: none;
  width: 100%;
  border: 1px solid #b8bbc2;
  border-radius: 8px;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 1s ease-in;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  list-style-type: none;
}
.custom-select li {
  text-align: center;
  align-content: center;
  width: 90%;
  height: 30px;
  padding: 10px;
  background-color: #fff;
}
.custom-select li:nth-child(1) {
  border-radius: 8px 8px 0 0;
}
.custom-select li:nth-last-child(1) {
  border-radius: 0 0 8px 8px;
}
.custom-select li:hover {
  background-color: #f00;
  color: #fff;
}
.custom-select li.selected {
  background-color: #f00;
  color: #fff;
}

@media screen and (max-width: 960px) {
  .filter-container {
    flex-direction: column;
  }
  .filter-left {
    justify-content: center;
  }
}
@media screen and (max-width: 555px) {
  .filter-left {
    flex-direction: column;
  }
}
.main-page {
  margin: 20px 150px;
  overflow: hidden;
}
.main-page .filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.main-page .filter-container .filter-left {
  display: flex;
}
.main-page .filter-container .filter-formats {
  margin-left: 15px;
}
.main-page .filter-container .filterstyle {
  display: none;
  width: 100%;
  height: 42px;
  max-width: 260px;
  padding: 11px 60px 11px 60px;
  margin-right: 15px;
  border: 1.3px solid #B8BBC2;
  border-radius: 8px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #313144;
}
.main-page .filter-container .filterstyle option {
  width: fit-content;
  height: 42px;
}
.main-page .posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-page .posts-container a {
  width: 48%;
  height: 400px;
  margin-bottom: 20px;
}
.main-page .posts-container a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-page .load-more {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.main-page .load-more button {
  width: 200px;
  height: 50px;
  background-color: #D8D8D8;
  border: none;
  border-radius: 2px;
  color: black;
  text-align: center;
}
.main-page .load-more button:hover {
  opacity: 0.8;
  transition: 0.5s;
}

.post-link {
  position: relative;
  display: inline-block;
}
.post-link:hover .image-overlay {
  opacity: 1;
  transform: translateY(0);
}
.post-link .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateY(10%);
  transition: all 0.5s ease-in;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.post-link .image-overlay .overlay-fullscreen {
  position: relative;
  background: transparent;
  border: none;
  left: 90%;
  margin-top: 10px;
  width: 34px;
  height: 34px;
  background-image: url("assets/images/fullscreen.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: alias;
}
.post-link .image-overlay .overlay-logo {
  position: relative;
  left: calc(50% - 1px);
  width: 46px;
  height: 31px;
  background-image: url("assets/images/Icon_eye.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.post-link .image-overlay .overlay-infos {
  display: flex;
  padding: 1em;
  justify-content: space-between;
  text-decoration: none;
  color: white;
}
.post-link .image-overlay .overlay-infos p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .heroHeader h1 {
    font-size: 66px;
  }
  .main-page {
    margin: 20px 50px;
  }
  .main-page .posts-container a {
    width: 100%;
    height: 650px;
  }
}
@media screen and (max-width: 425px) {
  .heroHeader h1 {
    font-size: 45px;
  }
  .main-page {
    margin: 20px 20px;
  }
  .main-page .filter-container .filter-left {
    flex-direction: column;
  }
  .main-page .filter-container .filter-formats {
    margin-left: 0;
  }
  .main-page .filter-container .filterstyle {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    font-size: 10px;
  }
  .main-page .posts-container a {
    width: 100%;
    height: 400px;
  }
}
/*<<<<<<<< ------ >>>>>>>>*/
/*<<<<<<<< LIGHTBOX >>>>>>>>*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.lightbox.fadeOut {
  animation: fadeOut 0.3s forwards;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  animation: fadeIn 0.5s forwards;
}
.lightbox .lightbox-close {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 30px;
  height: 30px;
  background: url("http://nathaliemota.local/wp-content/themes/nathalieMota/assets/images/lightbox_close.png") center center/100% 100% no-repeat;
  border: none;
  color: white;
  opacity: 0.7;
  transition: opacity 0.3s;
  cursor: pointer;
}
.lightbox .lightbox-close:hover {
  opacity: 1;
}
.lightbox .arrow {
  width: 10%;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s;
}
.lightbox .arrow:hover {
  opacity: 1;
}
.lightbox .arrow .arrow_left,
.lightbox .arrow .arrow_right {
  position: relative;
  left: 33%;
}
.lightbox .arrow .arrow_left {
  background: url("http://nathaliemota.local/wp-content/themes/nathalieMota/assets/images/arrow-left.png") no-repeat;
  height: 20px;
  background-size: contain;
}
.lightbox .arrow .arrow_right {
  background: url("http://nathaliemota.local/wp-content/themes/nathalieMota/assets/images/arrow-right.png") no-repeat;
  height: 20px;
  background-size: contain;
}
.lightbox .lightbox-content {
  width: 60%;
  height: 750px;
}
.lightbox .lightbox-content .lightbox-img {
  width: 100%;
  height: 95%;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
.lightbox .lightbox-content .lightbox-img .lightbox_loader {
  background: url("http://nathaliemota.local/wp-content/themes/nathalieMota/assets/images/loader.svg") center center/100% 100% no-repeat;
}
.lightbox .lightbox-content .lightbox-infos {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  color: white;
}
.lightbox .lightbox-content .lightbox-infos p {
  text-transform: uppercase;
}

/*<<<<<<<< ------ >>>>>>>>*/
/*<<<<<<<< FOOTER >>>>>>>>*/
footer {
  width: 100%;
  height: 40px;
  background-color: white;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
}
footer .menu-footer-container {
  display: flex;
  align-items: center;
}
footer .menu-footer-container ul#menu-footer {
  display: flex;
  list-style: none;
}
footer .menu-footer-container ul#menu-footer li a {
  text-decoration: none;
  color: black;
  margin-left: 50px;
}
footer .menu-footer-container ul#menu-footer li a:hover {
  transition: 500ms;
  opacity: 0.5;
}

@media screen and (max-width: 425px) {
  footer .menu-footer-container ul#menu-footer {
    margin-top: 40px;
    flex-direction: column;
  }
}
/*<<<<<<<< ------ >>>>>>>>*/

/*# sourceMappingURL=style.css.map */
