@charset "UTF-8";
/*<<<<<<<< GENERAL >>>>>>>>*/
* {
  margin: 0;
  padding: 0;
}

/*<<<<<<<< ------ >>>>>>>>*/
/*<<<<<<<< FONTS >>>>>>>>*/
h1 {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
  font-size: 96px;
}

h2 {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
  font-size: 66px;
}

h3 {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 18px;
}

.photoDesc {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 14px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

/*Font Menu header footer*/
.main-navigation .menu-header-container a,
footer a {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 23.7px;
}

/**/
/*<<<<<<<< ------ >>>>>>>>*/
/*<<<<<<<< HEADER >>>>>>>>*/
.main-navigation {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-navigation .site-branding h1 {
  font-size: 20px;
  font-weight: 500;
}
.main-navigation .site-branding h1 a {
  text-decoration: none;
  color: #e42020;
}
.main-navigation ul {
  display: flex;
  list-style: none;
}
.main-navigation ul li a {
  text-decoration: none;
  color: black;
  margin-left: 50px;
}
.main-navigation ul li a:hover {
  transition: 500ms;
  opacity: 0.5;
}

/*<<<<<<<< ------ >>>>>>>>*/
/*<<<<<<<< CONTACT >>>>>>>>*/
.contact-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.3764705882);
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.contact-overlay .popup-contact {
  max-width: 680px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 3em;
  background-color: white;
}
.contact-overlay .popup-contact .popup-form p label span input {
  border: 1px solid #B8BBC2;
  border-radius: 8px;
  width: 263px;
  height: 40px;
  padding-left: 10px;
}
.contact-overlay .popup-contact .popup-form p label span textarea {
  border: 1px solid #B8BBC2;
  border-radius: 8px;
  width: 263px;
  height: 100px;
  padding-left: 10px;
  padding-top: 10px;
}
.contact-overlay .popup-contact .popup-form p input[type=submit] {
  width: 275px;
  height: 50px;
  background-color: #D8D8D8;
  border: none;
  border-radius: 2px;
  color: black;
  text-align: center;
}

/*<<<<<<<< ------ >>>>>>>>*/
/*<<<<<<<< CONTENT SINGLE >>>>>>>>*/
/* Format : Paysage */
.content-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  border-bottom: 1px solid #000;
}
.content-container .left-side-paysage {
  width: 45%;
  margin-top: 145px;
}
.content-container .left-side-paysage h2 {
  font-weight: 600;
  text-transform: uppercase;
}
.content-container .left-side-paysage p {
  line-height: 30px;
  text-transform: uppercase;
}
.content-container .left-side-paysage p:nth-child(6) {
  margin-bottom: 20px;
}
.content-container .left-side-paysage .ctaphoto-contact {
  border-top: 1px solid #000;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}
.content-container .left-side-paysage .ctaphoto-contact h5 {
  font-family: "poppins", sans-serif;
  font-weight: 300;
  margin-right: 20%;
}
.content-container .left-side-paysage .ctaphoto-contact button {
  background-color: #d8d8d8;
  border: none;
  max-width: 272px;
  max-height: 50px;
  padding: 18px 111px;
  font-family: "Space Mono", sans-serif;
  font-size: 12px;
}
.content-container .left-side-paysage .ctaphoto-contact button:hover {
  background-color: #adadad;
  transition: 0.5s;
}
.content-container .right-side-paysage {
  width: 45%;
  margin-left: 20px;
}
.content-container .right-side-paysage img {
  width: 100%;
}

/**/
/* Général */
.alsoLike-container {
  margin: 80px 4.5% 50px 4.5%;
}
.alsoLike-container h3 {
  text-transform: uppercase;
}
.alsoLike-container .alsoLike-photos {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.alsoLike-container .alsoLike-photos div {
  width: 100%;
  height: 450px;
  background: #000;
  margin-right: 10px;
}

/**/
/* Format : Portrait */
.content-container .left-side-portrait {
  width: 45%;
  margin-top: 460px;
}
.content-container .left-side-portrait h2 {
  font-weight: 600;
  text-transform: uppercase;
}
.content-container .left-side-portrait p {
  line-height: 30px;
  text-transform: uppercase;
}
.content-container .left-side-portrait p:nth-child(6) {
  margin-bottom: 20px;
}
.content-container .ctaphoto-contact {
  border-top: 1px solid #000;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}
.content-container .ctaphoto-contact h5 {
  font-family: "poppins", sans-serif;
  font-weight: 300;
  margin-right: 20%;
}
.content-container .ctaphoto-contact button {
  background-color: #d8d8d8;
  border: none;
  max-width: 272px;
  max-height: 50px;
  padding: 18px 111px;
  font-family: "Space Mono", sans-serif;
  font-size: 12px;
}
.content-container .ctaphoto-contact button:hover {
  background-color: #adadad;
  transition: 0.2s;
}
.content-container .right-side-portrait {
  width: 45%;
  margin-left: 20px;
}
.content-container .right-side-portrait img {
  width: 100%;
}

/**/
/*<<<<<<<< ------ >>>>>>>>*/
/*<<<<<<<< FOOTER >>>>>>>>*/
footer {
  width: 100%;
  height: 40px;
  background-color: white;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
}
footer .menu-footer-container {
  display: flex;
  align-items: center;
}
footer .menu-footer-container ul#menu-footer {
  display: flex;
  list-style: none;
}
footer .menu-footer-container ul#menu-footer li a {
  text-decoration: none;
  color: black;
  margin-left: 50px;
}
footer .menu-footer-container ul#menu-footer li a:hover {
  transition: 500ms;
  opacity: 0.5;
}

/*<<<<<<<< ------ >>>>>>>>*/

/*# sourceMappingURL=style.css.map */
