/*<<<<<<<< GENERAL >>>>>>>>*/
*{
    margin: 0;
    padding: 0;
}
body {
    max-width: 1440px;
    margin: 0 auto; 
}
/*<<<<<<<< ------ >>>>>>>>*/
/*<<<<<<<< FONTS >>>>>>>>*/
@import 'assets/scss/fonts.scss';
/*<<<<<<<< ------ >>>>>>>>*/
/*<<<<<<<< HEADER >>>>>>>>*/
@import 'assets/scss/header.scss';
/*<<<<<<<< ------ >>>>>>>>*/
/*<<<<<<<< CONTACT >>>>>>>>*/
@import 'assets/scss/contact.scss';
/*<<<<<<<< ------ >>>>>>>>*/
/*<<<<<<<< CONTENT SINGLE >>>>>>>>*/
@import 'assets/scss/contentSingle.scss';
/*<<<<<<<< ------ >>>>>>>>*/
/*<<<<<<<< FRONT PAGE >>>>>>>>*/
@import 'assets/scss/page.scss';
/*<<<<<<<< ------ >>>>>>>>*/
/*<<<<<<<< LIGHTBOX >>>>>>>>*/
@import 'assets/scss/lightbox.scss';
/*<<<<<<<< ------ >>>>>>>>*/
/*<<<<<<<< FOOTER >>>>>>>>*/
@import 'assets/scss/footer.scss';
/*<<<<<<<< ------ >>>>>>>>*/