.contact-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background:#00000060;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .popup-header {
        width: 100%;
        height: 80px;
        overflow: hidden;
        background-image: url(../nathalieMota/assets/images/Contactheader.png);
        background-size: cover;
    }
    .popup-contact {
        max-width: 680px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        padding: 3em;
        background-color: white;
        .popup-form p label span input {
            border: 1px solid #B8BBC2;
            border-radius: 8px;
            width: 263px;
            height: 40px;
            padding-left: 10px;
        }
        .popup-form p label span textarea {
            border: 1px solid #B8BBC2;
            border-radius: 8px;
            width: 263px;
            height: 100px;
            padding-left: 10px;
            padding-top: 10px;
        }
        .popup-form p input[type=submit] {
            width: 275px;
            height: 50px;
            background-color: #D8D8D8;
            border: none;
            border-radius: 2px;
            color: black;
            text-align: center;
        }
    }
}