.contact-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background:#00000060;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .close-contact{
        background: url(../nathalieMota/assets/images/lightbox_close.png) no-repeat;
        background-size: contain;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 5%;
        right: 5%;
        cursor: pointer;
        opacity: 0.6;
        transition: opacity 0.3s;
        &:hover {
            opacity: 1;
        }
    }
    .popup-header {
        width: 100%;
        height: 80px;
        overflow: hidden;
        background-image: url(../nathalieMota/assets/images/Contactheader.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .popup-contact {
        width: 25%;
        max-width: 680px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background-color: white;
        .popup-form p label span input {
            border: 1px solid #B8BBC2;
            border-radius: 8px;
            width: 263px;
            height: 40px;
            padding-left: 10px;
            margin-bottom: 15px;
        }
        .popup-form p label span textarea {
            border: 1px solid #B8BBC2;
            border-radius: 8px;
            width: 263px;
            height: 100px;
            padding-left: 10px;
            padding-top: 10px;
        }
        .popup-form p input[type=submit] {
            width: 275px;
            height: 50px;
            background-color: #D8D8D8;
            border: none;
            border-radius: 2px;
            color: black;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 30px;
        }
    }
}