.main-navigation {
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .site-branding h1 {
        font-size: 20px;
        font-weight: 500;
        a{
            text-decoration: none;
            color: #e42020;
        }
    }
    ul {
        display: flex;
        list-style: none;
        li a {
            text-decoration: none;
            color: black;
            margin-left: 50px;
            &:hover {
                transition: 500ms;
                opacity: 0.5;
            }
        }
    }
}

.menu-toggle {
    display: none; /* Cacher le bouton par défaut */
    cursor: pointer;
    padding: 10px;
    background: transparent;
    border: none;
    .bar {
        display: flex;
        flex-direction: column;
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 5px auto;
        transition: all 0.3s ease;
    }
    &.open {
        .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
        .bar:nth-child(2) {
            opacity: 0;
        }
        .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}
.mobile-menu {
    z-index: 1000;
    transition: transform 0.5s ease-in-out;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #e00000;
    transform: translateY(-100%);
    overflow: hidden;
    &.open {
        display: flex;
        transform: translateY(0);
    }
    ul {
        list-style: none;
        li {
            margin: 50px 0;
            text-align: center;
            a {
                text-decoration: none;
                color: white;
                font-size: 44px;
                font-family: 'Space Mono', sans-serif;
                font-weight: 400;
            }
        }
    
    }
}


@media screen and (max-width: 600px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1001;
    }
    .menuHeader {
        display: none;
    }
    .main-navigation {
        justify-content: space-around;
    }
    .menu-toggle {
        display: block;
    }
}