.heroHeader {
    max-height: 750px;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    h1 {
        text-align: center;
        position: relative;
        top: calc(750px / 2.5);
        text-align: center;
        color: transparent;
        -webkit-text-stroke: 3px #fff;
    }
}

.custom-select {
    position: relative;
    width: 100%;
    min-width: 210px;
    font-family: 'poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 15px;
    &.open {
        .placeholder::after {
            transform: rotate(-90deg);
        }
        ul {
            display: block;
            transform: translateY(0);
            opacity: 1;
        }
    }
    .placeholder {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        width: 99%;
        height: 42px;
        background-color: #fff;
        color: #313144;
        text-transform: uppercase;
        border: 1px solid #b8bbc2;
        border-radius: 8px;
        cursor: pointer;
        &::after {
            display: inline-block;
            content: "";
            width: 10px;
            height: 10px;
            background-image: url("./assets/images/chevron.svg");
            background-position: center;
            background-size: cover;
            margin-left: 20px;
            margin-top: 3.5px;
            transform: rotate(90deg);
            transition: all 0.2s linear;
        }
    }
    ul {
        display: none;
        width: 100%;
        border: 1px solid #b8bbc2;
        border-radius: 8px;
        transform: translateY(-100%);
        opacity: 0;
        transition: all 1s ease-in;
        margin: 0;
        margin-top: 10px;
        padding: 0;
        list-style-type: none;
    }
    li {
        text-align: center;
        align-content: center;
        width: 90%;
        height: 30px;
        padding: 10px;
        background-color: #fff; 
        &:nth-child(1) {
            border-radius: 8px 8px 0 0;
        }
        &:nth-last-child(1) {
            border-radius: 0 0 8px 8px;
        }
        &:hover {
            background-color: #f00; 
            color: #fff; 
        }
        &.selected {
            background-color: #f00;
            color: #fff;
        }
    }
  }

@media screen and (max-width: 960px) {
    .filter-container {
        flex-direction: column;
    }
    .filter-left {
        justify-content: center;
    }
}
@media screen and (max-width: 555px) {
    .filter-left {
        flex-direction: column;
    }
    
}

.main-page {
    margin: 20px 150px;
    overflow: hidden;
    .filter-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .filter-left {
            display: flex;
        }
        .filter-formats {
            margin-left: 15px;
        }
        .filterstyle {
            display: none;
            width: 100%;
            height: 42px;
            max-width: 260px;
            padding: 11px 60px 11px 60px;
            margin-right: 15px;
            border: 1.3px solid #B8BBC2;
            border-radius: 8px;
            text-transform: uppercase;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 12px;
            color: #313144;
            option {
                width: fit-content;
                height: 42px; 
            }
        }
    }
    .posts-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        a {
            width: 48%; 
            height: 400px;
            margin-bottom: 20px; 
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .load-more {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        button {
            width: 200px;
            height: 50px;
            background-color: #D8D8D8;
            border: none;
            border-radius: 2px;
            color: black;
            text-align: center;
            &:hover {
                opacity: 0.8;
                transition: 0.5s;
            }
        }
    }
}

.post-link {
    position: relative;
    display: inline-block;
    &:hover .image-overlay {
        opacity: 1;
        transform: translateY(0);
    }
    .image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transform: translateY(10%);
        transition: all 0.5s ease-in; 
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .overlay-fullscreen {
            position: relative;
            background: transparent;
            border: none;
            left: 90%;
            margin-top: 10px;
            width: 34px;
            height: 34px;
            background-image: url('assets/images/fullscreen.png');
            background-size: contain;
            background-repeat: no-repeat;
            cursor: alias;
        }
        .overlay-logo {
            position: relative;
            left: calc(50% - 1px);
            width: 46px;
            height: 31px;
            background-image: url('assets/images/Icon_eye.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .overlay-infos {
            display: flex;
            padding: 1em;
            justify-content: space-between;
            text-decoration: none;
            color: white;
            p {
                text-transform: uppercase;
                font-weight: 500;
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .heroHeader {
        h1 {
            font-size: 66px;
        }
    }
    .main-page {
        margin: 20px 50px;
        .posts-container {
            a {
                width: 100%;
                height: 650px;
            }
        }
    }
}
@media screen and (max-width: 425px) {
    .heroHeader {
        h1 {
            font-size: 45px;
        }
    }
    .main-page {
        margin: 20px 20px;
        .filter-container {
            .filter-left {
                flex-direction: column;
            }
            .filter-formats {
                margin-left: 0;
            }
            .filterstyle {
                width: 100%;
                max-width: 100%;
                margin-right: 0;
                font-size: 10px;
            }
        }
        .posts-container {
            a {
                width: 100%;
                height: 400px;
            }
        }
    }
    
}